.header__container{
    height: 100vh;
    display: flex;
    position: relative;
    
  .header__container__content{
    flex:0.5;
    width:100%;
    flex-basis: 50%;

    .header__content_container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
      
        height: 100%; 
       
        .header__title_text{
            color: var( --color-dark-text);
            padding: 2rem 0;
        }
        .header__title_faded{
            color: var( --color-gray-text);
        }
        .header__brand{
            color: var(--color-tab);
            font-size: 0.7rem;
        }
        .header__let__talk__container{
            margin: 2rem 0;
            font-size: 0.7rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }
        .header_description{
            color: var( --color-gray-text);
            font-size: 0.8rem;
            line-height: 2;
            text-align: left;
            width: 75%;
        }
    }
  }
    .header__container__img{
background-image: url('../../public/Spaniel01_gradient.png');
background-position: center;
background-repeat: no-repeat;
background-size: cover;
border: 1px solid #707070;
flex: 0.5;
flex-basis: 50%;

    }
}
 @media screen and (max-width: 1050px) {
    .header__container{
        height: 100vh; 
        position: relative;
      .header__container__content{
        flex:0.5;
        width:100%;
        flex-basis: 100%;
    
        .header__content_container{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            height: 100%;
            
            .header__title_text{
                color: var( --color-dark-text);
                padding: 2rem 0;
                font-size: 0.6rem;
                
            }
            .header__title_faded{
                color: var( --color-gray-text);
            }
            .header__brand{
                color: var(--color-tab);
                font-size: 0.9rem;
                font-size: 0.4rem;
            }
            .header__let__talk__container{
                margin: 2rem 0;
                font-size: 0.7rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                cursor: pointer;
            }
            .header_description{
                color: var( --color-gray-text);
                font-size: 0.8rem;
                line-height: 2;
                text-align: left;
                width: 100%;
            }
        }
      }
        .header__container__img{
            display: none;
    
        }
    }}